<% if logged_in? %>
 <div class="thoughtForm">
  <% form_for(@thought) do |f| %>
    <%= f.text_area :content, :class => "expand transparentBkgd underedged" %>
    <br />
    <div class="thoughtControls">
      <%= f.error_messages %>
      <%= f.submit "Create" %>
    </div>
  <% end %>
 </div>

<% javascript_tag do -%>
Event.observe(document, 'keypress', function(event) {
  if (event.keyCode == Event.KEY_RETURN && event.ctrlKey && !event.altKey && !event.shiftKey && event.originalTarget.id != 'thought_submit') {
    document.getElementById('new_thought').submit();
    Event.stop(event);
  }
});
<% end -%>

<% if (true == false) %>
<div class="timelineContainer">
 <div class="timeline">
  <%= render(:partial => "show_timeline") %>
 </div>
 <div class="timelineToggle">
  Hide
 </div>
</div>
<% end %>

<% end %>

