<% if logged_in? %>

<div class="bkgdContainer">
  <span class="bkgdTitle">thought</span>
</div>

<div class="container">
 <div class="thoughtForm">
  <% form_for(@thought) do |f| %>
    <%= f.text_area :content %>
    <span style="text-align:right">
      <%= f.submit "Create" %>
    </span>
    <%= f.error_messages %>
  <% end %>
 </div>
</div>

<% if (true == false) %>
<div class="timelineContainer">
 <div class="timeline">
  <%= render(:partial => "show_timeline") %>
 </div>
 <div class="timelineToggle">
  Hide
 </div>
</div>
<% end %>

<% end %>

