<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>thoughts</title>
  <%= stylesheet_link_tag 'std' %>
  <link href="<%= @basesite -%>/thoughts.rss" title="Thoughts" type="application/rss+xml" rel="alternate"/>
</head>
<body>

 <% if flash[:notice] -%>
  <div class="infoPane"><%= flash[:notice] %></div>
 <% end -%>

 <%= yield  %>

</body>
</html>
